body, p, h1, ul, li {
	padding: 0px;
	margin: 0px;
}

li {
	list-style: none;
}

/* body {
	font-family: Georgia, serif;
	color: #252525;
	background: #e7e4d8;
} */

* {
	box-sizing: border-box;
}

img {
	display: block;
	max-width: 100%;
}

/* Produtos */

.produtos {
	width: calc(100% - 300px);
	margin: 0 auto;
	max-width: 960px;
	padding: 20px;
  padding-top: 60px;
}

.produtos header::before, .produtos header::after {
	content: '';
	display: table;
	clear: both;
}

.produtos h1 {
	font-size: 2.25em;
	float: left;
}

.adicionar-produtos {
	background: #13293d;
	color: #e7e4d8;
	font-size: 1.125em;
	font-family: Courier, monospace;
	text-transform: uppercase;
	padding: 15px 20px;
	border-radius: 4px;
	float: right;
	text-align: center;
}

.produto-h1{
  padding-bottom: 40px;
}

.produtos-item {
	background: #fff;
	box-shadow: 0 1px 3px 0 rgba(0,0,0,.35);
	margin-top: 20px;
	position: relative;
}

.produtos-item::after, .produtos-item::before {
	content: '';
	display: table;
	clear: both;
}

.produtos-item img {
	float: left;
}

.produtos-item a {
	width: 24px;
	height: 24px;
	overflow: hidden;
	text-indent: -200px;
	position: absolute;
	right: 20px;
	top: 10px;
	background: url('../img/edit.svg') no-repeat;
}

.produtos-item a:hover {
	background: url('../img/edit-hover.svg') no-repeat;
}

.produtos-item ul {
	float: left;
	padding: 0 20px;
	width: calc(100% - 140px);
}

.produtos-item li {
	padding: 10px 0;
	font-size: 1.125em;
	font-family: Courier, monospace;
	border-bottom: 1px solid #e7e4d8;
}

.produtos-item li:last-child {
	border: none;
}

.produtos-item span {
	font-weight: bold;
	/* width: 70px; */
	display: inline-block;
}

@media (min-width: 740px) and (max-width: 980px) {
	.produtos {
		width: calc(100% - 200px);
	}
}

@media (max-width: 739px) {
	.produtos {
		width: 100%;
	}
	.produtos h1 {
		float: none;
	}
	.adicionar-produtos {
		float: none;
		display: inline-block;
		margin: 10px 0;
	}
	.produtos-item img {
		float: none;
	}
	.produtos-item ul {
		float: none;
		width: 100%;
	}
}
